.call-for-action {
  margin-top: 2em;
  display: inline-block; }

.action-caller {
  color: #686464;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #FEFDFF;
  padding: 0.5em 2em;
  outline: 5px solid #FEFDFF;
  border: 5px solid transparent;
  transition: all ease-in-out 0.1s;
  background-clip: padding-box; }
  .action-caller .normal {
    display: inline; }
  .action-caller .hover {
    display: none; }
  .action-caller:hover {
    text-decoration: none;
    color: #2b271b;
    outline: 0px solid #FEFDFF; }
  .action-caller:focus, .action-caller:active {
    border: 5px solid #fff; }
  .action-caller:hover .normal, .action-caller:focus .normal, .action-caller:active .normal {
    display: none; }
  .action-caller:hover .hover, .action-caller:focus .hover, .action-caller:active .hover {
    display: inline; }

.cf-link {
  text-decoration: underline; }

#venue {
  position: relative;
  overflow: hidden; }

#venue-streetview {
  position: absolute;
  top: -80px;
  width: 100%; }

#venue-info {
  position: relative;
  background: rgba(255, 255, 255, 0.5); }

.sponsors h3 {
  font-weight: 500;
  color: #FFCC03;
  margin-top: 1em;
  font-size: 1.1rem; }

.card {
  background-color: #fff;
  margin-bottom: 1em; }

.card-img-top {
  height: 146px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  overflow: hidden; }
  .card-img-top > img {
    max-width: 98%;
    max-height: 146px; }

.card h4 {
  color: rgba(204, 21, 23, 0.8); }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ffecb3;
  color: #333;
  padding: 0.2em 0; }

/* ==========================================================================
   Main Style
   ========================================================================== */
html {
  min-height: 100%;
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  min-height: 100%;
  height: 100%; }

.jumbotron {
  background-color: transparent;
  text-align: center; }

.clear {
  clear: both !important;
  float: none !important; }

.btn-alternative {
  background-color: #333;
  border: none;
  color: #fff !important; }
  .btn-alternative:hover, .btn-alternative:focus, .btn-alternative:active {
    background-color: #666; }

.btn-register {
  border-width: 1px;
  background-image: none; }
  .btn-register {
    color: #fff;
    background-color: #FFCC03;
    border-color: #FFCC03; }
  .btn-register:hover, .btn-register.focus, .btn-register:focus, .btn-register.active, .btn-register:active, .open > .btn-register.dropdown-toggle {
    color: #FFCC03;
    background-color: transparent;
    border-color: #FFCC03; }
  .btn-register.active.focus, .btn-register.active:focus, .btn-register.active:hover, .btn-register:active.focus, .btn-register:active:focus, .btn-register:active:hover, .open > .btn-register.dropdown-toggle.focus, .open > .btn-register.dropdown-toggle:focus, .open > .btn-register.dropdown-toggle:hover {
    color: #fff;
    background-color: #d58512;
    border-color: #b06d0f; }

h1, h2, a, .icon-bar {
  color: #D1272E; }

a:focus {
  outline: none; }

a:hover {
  color: #EC9232; }

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #333;
  background-color: transparent;
  background-size: cover; }
  .masthead .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .masthead .intro-body .brand-heading {
      font-size: 50px; }
    .masthead .intro-body .intro-text {
      font-size: 20px;
      margin: 0.5em auto; }
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      padding: 0; }
      .masthead .intro-body .brand-heading {
        font-size: 120px; }
      .masthead .intro-body .intro-text {
        font-size: 26px;
        margin: 1.5em auto; } }

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  transition: background 0.3s ease-in-out;
  color: #FFCC03;
  border: 2px solid #FFCC03;
  border-radius: 100% !important;
  background: transparent; }
  .btn-circle:focus, .btn-circle:hover {
    color: #FFCC03;
    outline: none;
    background: rgba(255, 204, 3, 0.1); }

main > section .container {
  padding: 2em 0; }

.speakers {
  background: url(/images/speaker-bg.jpg) center no-repeat;
  background-size: cover; }
  .speakers h2 {
    color: #FFCC03; }
    .speakers h2 em {
      color: #D1272E;
      font-style: normal; }

.schedule h4 {
  font-size: 1.1em; }

.schedule .cell-content {
  padding: 0; }

.schedule .post-it {
  background: #FFF9C4;
  padding: 0.75rem; }

.venue {
  background: #999 top center no-repeat;
  background-size: cover;
  min-height: 500px; }

.sponsors {
  background-color: #f7f7f7; }
  .sponsors .box-card {
    background: #fff;
    box-shadow: 1px 1px rgba(17, 17, 17, 0.1);
    padding: 0.8em 1em;
    margin-bottom: 2em;
    border: 1px solid #f7f7f7; }
    .sponsors .box-card.caller {
      background: gold;
      box-shadow: none;
      border: none;
      color: #333;
      font-weight: 600;
      padding-left: 10px; }
  .sponsors .fa-lightbulb-o {
    color: #fff;
    font-weight: 400;
    font-size: 1.6em;
    vertical-align: middle; }

.organizers ul li {
  font-family: monospace; }

footer {
  color: #9a9a9a;
  min-height: 180px;
  background: #1a1a1a;
  padding: 1em 0; }
  footer .container {
    background: url("/images/footer-logo.png") no-repeat 15px 0;
    background-size: 12em; }
  footer a {
    color: #c5c5c5; }
  footer .copyleft {
    font-size: 0.8em;
    text-align: right;
    margin-top: 2em; }
