$primary-color: #CC1517;
$secondary-color: #FFCC03;
#venue {
	position: relative;
	overflow: hidden;
}
#venue-streetview {
	position: absolute;
	top: -80px;
	width:100%;
}
#venue-info {
	position: relative;
	background: rgba(255,255,255,0.5);
}
.sponsors h3 {
	font-weight: 500;
	color: $secondary-color;
	margin-top: 2em;
	font-size: 1.1rem;
}
.card {
	background-color: #fff;
}
.card-img-top {
	min-height: 146px;
	background-color: #fff;
	display: flex;
  align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0,0,0,.125);
	& > img {
		width:98%;
		max-width: 100%;
	}
}
.card h4 {
	color: rgba($primary-color, 0.8);
}